Repository HANA-IEUM/Client, pull requests merged in 2025-09, with the labels that each got.

#66 feat: 홈 페이지
  package.json
  src/assets/common/header/hanabank.gif
  src/assets/common/header/starBoy.png
  src/features/auth/hooks/useLogin.ts
  src/features/home/components/EmptyBucketList.tsx
  src/features/home/components/HomeHeader.tsx
  src/hooks/.gitkeep
  src/hooks/useToken.ts
  src/lib/axios.ts
  src/lib/jwt.ts
  src/pages/HomePage.tsx
  src/stores/authStore.ts
  yarn.lock
Labels: ⭐️ feat

#71 feat: 응원/후원 api 연결
  dev-dist/registerSW.js
  dev-dist/sw.js
  dev-dist/workbox-54d0af47.js
  index.html
  package.json
  src/app/router.tsx
  src/features/bucket-detail/components/BucketDetailBox.tsx
  src/features/bucket-detail/components/SupportSlider.tsx
  src/features/bucket-edit/components/BucketEditBasicInfo.tsx
  src/features/support/apis/support.ts
  src/features/support/components/LetterTypeSlider.tsx
  src/features/support/components/SelectLetterType.tsx
  src/features/support/components/SupportBottomSheet.tsx
  src/features/support/components/WriteTextAndSupport.tsx
  src/features/support/hooks/useSupportHistory.ts
  src/features/support/hooks/useSupports.ts
  src/pages/BucketDetailPage.tsx
  src/pages/BucketEditPage.tsx
  src/pages/SupportPage.tsx
  src/types/supportHistory.ts
  vite.config.ts
Labels: ⭐️ feat

#79 feat: QA
  src/features/auth/apis/auth.ts
  src/features/auth/components/PhoneInput.tsx
  src/features/auth/hooks/useCheckPhoneNumber.ts
  src/features/bucket-create/apis/memberApis.ts
  src/features/bucket-create/hooks/useMonthlyLivingCost.ts
  src/features/group-join/components/FamilyGroupEmptyStateCard.tsx
  src/features/link-account/components/AccountFetching.tsx
  src/pages/BucketCreatePage.tsx
  src/types/auth.ts
Labels: ⭐️ feat

#84 feat: 회원가입 완료 페이지
  package.json
  src/assets/common/user/register.png
  src/features/auth/components/RegisterCom.tsx
  src/features/group-join/components/FamilyGroupEmptyStateCard.tsx
  src/pages/RegisterPage.tsx
Labels: ⭐️ feat

#87 feat: 쿠폰함 페이지 구현 (#85)
  src/app/router.tsx
  src/components/common/InviteCodeCopyBtn.tsx
  src/features/coupon/apis/coupon.ts
  src/features/coupon/components/Coupon.tsx
  src/features/coupon/hooks/useCoupons.ts
  src/pages/CouponPage.tsx
Labels: ⭐️ feat

#89 feat: 달성 완료 로직 구현
  src/assets/bucket-detail/gift.json
  src/features/bucket-detail/components/BucketDetailBox.tsx
  src/features/bucket-edit/components/BucketEditBasicInfo.tsx
  src/features/coupon/apis/coupon.ts
  src/features/coupon/hooks/useCreateCoupon.ts
  src/pages/BucketEditPage.tsx
Labels: ⭐️ feat

#90 feat: MyPage
  src/apis/memberApis.ts
  src/assets/common/chevron-right.png
  src/assets/common/coupon.png
  src/features/auth/apis/auth.ts
  src/features/auth/hooks/useLogout.ts
  src/hooks/useMonthlyLivingCost.ts
  src/hooks/useUpdateMonthlyLivingCost.ts
  src/lib/axios.ts
  src/pages/BucketCreatePage.tsx
  src/pages/CouponPage.tsx
  src/pages/MyPage.tsx
  src/utils/phoneNumberFormat.ts
Labels: ⭐️ feat

#93 feat: GA 적용
  index.html
  src/features/auth/components/PhoneInput.tsx
  src/hooks/useGAEvent.ts
  src/hooks/usePageStayTime.ts
  src/hooks/usePageTracking.ts
  src/layouts/RootLayout.tsx
  src/lib/ga.ts
  src/pages/BucketCreatePage.tsx
  src/pages/BucketEditPage.tsx
  src/pages/LoginPage.tsx
  src/pages/RegisterPage.tsx
  src/pages/SupportPage.tsx
  src/types/global.d.ts
Labels: ⭐️ feat

#96 refactor: 버킷 상세/버킷 수정 기능 연동 및 리팩토링
  src/features/bucket-detail/apis/bucketDetail.ts
  src/features/bucket-detail/components/BucketDetailBox.tsx
  src/features/bucket-detail/components/BucketInfo.tsx
  src/features/bucket-detail/components/BucketManageButtons.tsx
  src/features/bucket-edit/components/BucketEditBasicInfo.tsx
  src/features/bucket-edit/components/BucketEditFamily.tsx
  src/features/coupon/apis/coupon.ts
  src/pages/BucketDetailPage.tsx
  src/pages/BucketEditPage.tsx
Labels: 🛠️ refactor

#98 feat: 버킷 달성 완료 api 연결 (#97)
  src/features/bucket-detail/apis/bucketDetail.ts
  src/features/bucket-detail/components/BucketDetailBox.tsx
  src/features/bucket-detail/components/BucketManageButtons.tsx
  src/features/bucket-detail/hooks/useCompleteBucket.ts
Labels: ⭐️ feat

#99 feat: 가족 관련 페이지 API 연동
  src/app/router.tsx
  src/assets/common/BucketListCheckIcon.tsx
  src/components/BucketListItem.tsx
  src/components/common/EmptyStateMessage.tsx
  src/features/bucket-detail/components/BucketDetailHeader.tsx
  src/features/bucket-detail/components/BucketInfo.tsx
  src/features/bucket-detail/components/SupportSlider.tsx
  src/features/family/apis/familyApi.ts
  src/features/family/components/FamilyHome.tsx
  src/features/family/components/FamilyMemberBucketList.tsx
  src/features/family/hooks/useMemberBucketLists.ts
  src/features/home/components/FilterTabs.tsx
  src/features/wallet/components/BoxPasswordBottomSheet.tsx
  src/features/wallet/hooks/useMainAccount.ts
  src/pages/FamilyMemberBucketListDetailPage.tsx
Labels: ⭐️ feat

#100 feat: 홈, 버킷 QA
  src/features/bucket-create/components/SelectGroupMember.tsx
  src/features/home/apis/apis.ts
  src/features/home/components/HomeHeader.tsx
  src/features/home/hooks/useCheckCreationAvailability.ts
  src/pages/HomePage.tsx
  src/types/bucket.ts
Labels: ⭐️ feat

#104 refactor: 계좌 연결 로직 수정
  src/app/router.tsx
  src/features/link-account/components/AccountSelect.tsx
  src/features/support/components/SupportBottomSheet.tsx
  src/features/support/components/WriteTextAndSupport.tsx
  src/pages/BucketDetailPage.tsx
  src/pages/FamilyMemberBucketListDetailPage.tsx
  src/pages/SupportPage.tsx
Labels: 🛠️ refactor

#107 feat: 계좌 포맷팅 함수 수정, 지갑 주계좌번호에 적용
  src/features/wallet/components/WalletHome.tsx
  src/utils/formatAccountNumber.ts
Labels: 🛠️ refactor

#113 feat: storybook 적용
  .github/workflows/chromatic.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.js
  package.json
  src/components/stories/AccountItem.stories.tsx
  src/components/stories/BottomSheet.stories.tsx
  src/components/stories/BottomTab.stories.tsx
  src/components/stories/BoxInput.stories.tsx
  src/components/stories/BucketListItem.stories.tsx
  src/components/stories/Button.stories.tsx
  src/components/stories/EmptyStateMessage.stories.tsx
  src/components/stories/Input.stories.tsx
  src/components/stories/InviteCodeCopyBtn.stories.tsx
  src/components/stories/Stepper.stories.tsx
  src/components/stories/ToastCard.stories.tsx
  src/types/common.ts
  vite.config.ts
  vitest.shims.d.ts
  yarn.lock
Labels: 📄 docs

#115 feat: 버킷 삭제시 경고 안내 바텀시트 렌더링
  .github/workflows/chromatic.yml
  src/features/bucket-detail/components/BucketDetailBox.tsx
Labels: ⭐️ feat

#118 refactor: 쿠폰함 페이지 디자인 이슈 해결 (#117)
  src/features/bucket-detail/components/BucketDetailBox.tsx
  src/features/coupon/components/Coupon.tsx
  src/pages/CouponPage.tsx
Labels: 🛠️ refactor

#123 refactor: 계좌 연결시 더미 계좌 추가 및 보호 라우팅 적용
  public/images/box.png
  src/App.tsx
  src/app/providers/PrivateRoute.tsx
  src/app/router.tsx
  src/assets/common/album-sample.jpg
  src/assets/common/toast/errorCheckCircle.svg
  src/components/common/SessionExpireModal.tsx
  src/components/common/ToastCard.tsx
  src/components/stories/SessionExpireModal.stories.tsx
  src/features/auth/components/PhoneInput.tsx
  src/features/auth/components/PhoneVerification.tsx
  src/features/bucket-detail/components/BucketDetailBox.tsx
  src/features/home/hooks/useCheckCreationAvailability.ts
  src/features/link-account/components/AccountSelect.tsx
  src/features/wallet/components/BoxTransferHistory.tsx
  src/features/wallet/components/WalletHome.tsx
  src/hooks/useAuth.ts
  src/lib/axios.ts
  src/pages/LoginPage.tsx
  src/pages/MyPage.tsx
  src/pages/RegisterPage.tsx
  src/services/.gitkeep
  src/stores/useSessionStore.ts
Labels: 📄 docs, 🛠️ refactor

#125 fix: 박스 수정 시 자동이체일 표시 포맷(6일 → 06일) 수정
  src/features/wallet/components/BoxEdit.tsx
  src/utils/numberFormat.ts
Labels: 👾 bug

#126 feat: 참여중인 버킷리스트 상세페이지로 라우팅
  src/pages/FamilyMemberBucketListDetailPage.tsx
  src/pages/HomePage.tsx
Labels: ⭐️ feat

#128 style: 전체 페이지, 컴포넌트 레이아웃 통일
  src/components/button/Button.tsx
  src/components/common/EmptyStateMessage.tsx
  src/features/album/components/SharedAlbum.tsx
  src/features/auth/components/BirthdayInput.tsx
  src/features/auth/components/MonthlyCostInput.tsx
  src/features/auth/components/NameInput.tsx
  src/features/auth/components/PasswordInput.tsx
  src/features/auth/components/PhoneInput.tsx
  src/features/auth/components/PhoneVerification.tsx
  src/features/auth/components/RegisterCom.tsx
  src/features/bucket-create/components/BoxInfo.tsx
  src/features/bucket-create/components/ConfirmBucket.tsx
  src/features/bucket-create/components/CreateBox.tsx
  src/features/bucket-create/components/GoalAmount.tsx
  src/features/bucket-create/components/GoalPeriod.tsx
  src/features/bucket-create/components/SelectGroupMember.tsx
  src/features/bucket-create/components/WhoAndWhat.tsx
  src/features/bucket-detail/components/BucketDetailBox.tsx
  src/features/bucket-edit/components/BucketEditBasicInfo.tsx
  src/features/bucket-edit/components/BucketEditSummary.tsx
  src/features/coupon/components/Coupon.tsx
  src/features/group-join/components/FamilyGroupEmptyStateCard.tsx
  src/features/group-join/components/GroupNameForm.tsx
  src/features/group-join/components/InviteCodeForm.tsx
  src/features/group-join/components/InviteCodeSharePanel.tsx
  src/features/home/components/HomeHeader.tsx
  src/features/link-account/components/AccountConnect.tsx
  src/features/link-account/components/AccountSelect.tsx
  src/features/link-account/components/TermOfUse.tsx
  src/features/support/components/SupportBottomSheet.tsx
  src/features/wallet/components/BoxEdit.tsx
  src/features/wallet/components/BoxPasswordBottomSheet.tsx
  src/features/wallet/components/BoxTransferHistory.tsx
  src/features/wallet/components/FillBoxAmount.tsx
  src/features/wallet/components/FillBoxPassword.tsx
  src/layouts/OnboardingWrapper.tsx
  src/pages/FamilyMemberBucketListDetailPage.tsx
  src/pages/LandingPage.tsx
  src/pages/LoginPage.tsx
  src/pages/MyPage.tsx
  src/pages/RegisterPage.tsx
  src/pages/SupportDetailPage.tsx
Labels: 👩🏻‍🎨 design

#138 fix: participants 판단 기준 변경
  src/pages/FamilyMemberBucketListDetailPage.tsx
Labels: 👾 bug
