Repository HANA-IEUM/Client, pull requests merged in 2025-08, with the labels that each got.

#13 feat: 뒤로 가기 공통 헤더 구현 (#11)
  src/app/router.tsx
  src/assets/common/header/backIcon.svg
  src/assets/group-join/invite.svg
  src/assets/group-join/plus.svg
  src/components/Header.tsx
  src/features/group-join/components/FamilyGroupEmptyStateCard.tsx
  src/features/group-join/components/GroupNameForm.tsx
  src/features/group-join/components/InviteCodeForm.tsx
  src/features/group-join/components/InviteCodeSharePanel.tsx
  src/pages/GroupJoinPage.tsx
  src/pages/HomePage.tsx
  src/types/common.ts
Labels: ⭐️ feat

#23 feat: 계좌 연결 페이지 퍼블리싱 (#20)
  package.json
  src/app/router.tsx
  src/assets/common/HanaIcon.tsx
  src/assets/common/json/SandyLoading.json
  src/components/AccountItem.tsx
  src/features/group-join/components/FamilyGroupEmptyStateCard.tsx
  src/features/group-join/components/InviteCodeForm.tsx
  src/features/link-account/AccountConnect.tsx
  src/features/link-account/AccountFetching.tsx
  src/features/link-account/AccountSelect.tsx
  src/features/link-account/TermOfUse.tsx
  src/index.css
  src/pages/LinkAccountPage.tsx
  src/types/common.ts
  tsconfig.json
  yarn.lock
Labels: ⭐️ feat

#28 feat: 지갑 페이지 퍼블리싱
  public/images/box.png
  src/components/common/BottomSheet.tsx
  src/features/wallet/components/BoxEdit.tsx
  src/features/wallet/components/BoxTransferHistory.tsx
  src/features/wallet/components/FillBoxAmount.tsx
  src/features/wallet/components/FillBoxPassword.tsx
  src/features/wallet/components/WalletHome.tsx
  src/features/wallet/types.ts
  src/pages/WalletPage.tsx
  yarn.lock
Labels: ⭐️ feat

#31 feat: 후원 페이지 퍼블리싱
  src/app/router.tsx
  src/assets/support/bill.png
  src/components/common/BottomSheet.tsx
  src/features/support/LetterTypeSlider.tsx
  src/features/support/SelectLetterType.tsx
  src/features/support/SupportBottomSheet.tsx
  src/features/support/WriteTextAndSupport.tsx
  src/pages/SupportPage.tsx
Labels: ⭐️ feat

#37 feat: 그룹 참여 및 계좌 연결 API 연결
  src/assets/common/toast/ErrorCheckCircle.svg
  src/assets/common/toast/checkCircle.svg
  src/components/common/InviteCodeCopyBtn.tsx
  src/components/common/ToastCard.tsx
  src/features/auth/apis/auth.ts
  src/features/auth/hooks/useHideGroupPrompt.ts
  src/features/auth/hooks/useLogin.ts
  src/features/auth/hooks/useRegister.ts
  src/features/auth/hooks/useVerification.ts
  src/features/auth/hooks/useVerificationConfirm.ts
  src/features/group-join/apis/groupApi.ts
  src/features/group-join/components/FamilyGroupEmptyStateCard.tsx
  src/features/group-join/components/InviteCodeForm.tsx
  src/features/group-join/hooks/useCreateGroup.ts
  src/features/group-join/hooks/useGroupInfo.ts
  src/features/group-join/hooks/useJoinGroup.ts
  src/features/link-account/apis/accountApi.ts
  src/features/link-account/components/AccountSelect.tsx
  src/features/link-account/hooks/useLinkMainAccount.ts
  src/features/link-account/hooks/useMainAccount.ts
  src/lib/axios.ts
  src/lib/toast.tsx
  src/pages/GroupJoinPage.tsx
  src/pages/LinkAccountPage.tsx
  src/pages/LoginPage.tsx
  src/pages/RegisterPage.tsx
  src/types/account.ts
  src/types/group.ts
  src/utils/formatAccountNumber.ts
Labels: ⭐️ feat

#48 feat: pwa 적용
  dev-dist/registerSW.js
  dev-dist/sw.js
  dev-dist/workbox-54d0af47.js
  eslint.config.js
  package.json
  public/favicon.svg
  public/pwa-192x192.png
  public/pwa-512x512.png
  src/main.tsx
  vite.config.ts
  yarn.lock
Labels: ⭐️ feat

#49 chore: main 브랜치 최신화
  dev-dist/registerSW.js
  dev-dist/sw.js
  dev-dist/workbox-54d0af47.js
  eslint.config.js
  package.json
  public/favicon.svg
  public/pwa-192x192.png
  public/pwa-512x512.png
  src/app/router.tsx
  src/assets/bucket-detail/confetti.gif
  src/components/Header.tsx
  src/features/bucket-create/components/BoxInfo.tsx
  src/features/bucket-create/components/ConfirmBucket.tsx
  src/features/bucket-create/components/CreateBox.tsx
  src/features/bucket-create/components/GoalAmountPeriod.tsx
  src/features/bucket-create/components/SelectCategory.tsx
  src/features/bucket-create/components/SelectGroupMember.tsx
  src/features/bucket-create/components/WhoAndWhat.tsx
  src/features/bucket-create/types/types.ts
  src/features/bucket-edit/components/BucketEditBasicInfo.tsx
  src/features/group-join/components/InviteCodeForm.tsx
  src/features/support/components/SupportBottomSheet.tsx
  src/features/support/components/WriteTextAndSupport.tsx
  src/main.tsx
  src/pages/BucketCreatePage.tsx
  src/types/common.ts
  vite.config.ts
  yarn.lock
Labels: 🫧 chore

#52 refactor: 회원가입 페이지 리팩토링
  dev-dist/sw.js
  src/components/common/BoxInput.tsx
  src/features/auth/components/BirthdayInput.tsx
  src/features/auth/components/MonthlyCostInput.tsx
  src/features/auth/components/NameInput.tsx
  src/features/auth/components/PasswordInput.tsx
  src/features/auth/components/PhoneInput.tsx
  src/features/auth/components/PhoneVerification.tsx
  src/pages/LoginPage.tsx
  src/pages/RegisterPage.tsx
  yarn.lock
Labels: ⭐️ feat, 🛠️ refactor

#55 feat: implement bucket creation API
  dev-dist/sw.js
  src/features/bucket-create/apis/bucketApi.ts
  src/features/bucket-create/components/BoxInfo.tsx
  src/features/bucket-create/components/ConfirmBucket.tsx
  src/features/bucket-create/components/CreateBox.tsx
  src/features/bucket-create/components/GoalAmountPeriod.tsx
  src/features/bucket-create/components/SelectCategory.tsx
  src/features/bucket-create/components/SelectGroupMember.tsx
  src/features/bucket-create/components/WhoAndWhat.tsx
  src/features/bucket-create/hooks/useCreateBucket.ts
  src/features/bucket-create/types/bucket.ts
  src/features/bucket-create/types/props.ts
  src/pages/BucketCreatePage.tsx
Labels: ⭐️ feat

#57 feat: 공유앨범 API 연동
  src/features/album/apis/albumApi.ts
  src/features/album/components/AlbumDetailPage.tsx
  src/features/album/components/ContentInputPage.tsx
  src/features/album/components/PhotoUploadPage.tsx
  src/features/album/components/SharedAlbum.tsx
  src/features/album/hooks/useAlbumMutations.ts
  src/features/album/hooks/useAlbums.ts
  src/utils/dateFormat.ts
  yarn.lock
Labels: ⭐️ feat

#60 feat: 박스 수정 화면 퍼블리싱 (#58)
  src/features/wallet/components/BoxEdit.tsx
  src/features/wallet/types.ts
Labels: ⭐️ feat
